.idea/
dataflow-pubsub-to-bigquery/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
dataflow-pubsub-to-bigquery/target/maven-archiver/pom.properties
dataflow-pubsub-to-bigquery/target/dataflow-pubsub-to-bigquery-0.1.jar
dataflow-pubsub-to-bigquery/target/classes/org/apache/beam/example/TwitterProcessor.class
dataflow-pubsub-to-bigquery/target/classes/org/apache/beam/example/TwitterProcessor$DoFilterAndProcess.class
dataflow-pubsub-to-bigquery/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
dataflow-pubsub-to-bigquery/target/dataflow-pubsub-to-bigquery-bundled-0.1.jar
dataflow-pubsub-to-bigquery/target/classes/org/apache/beam/example/TwitterProcessor$DoFormat.class
dataflow-pubsub-to-bigquery/target/classes/org/apache/beam/example/TwitterProcessor$1.class
dataflow-pubsub-to-bigquery/target/
